html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

main {
  display: flex;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.main {
  flex: 1;
}
.main > h2 {
  margin-top: 1.5em;
}

@media (min-width: 970px) {
  .main > h2:first-child {
    margin-top: 0;
  }
}

.content-section {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  border: solid 1px #aaffdd;
  clip-path: polygon(
    /* top left */ 0% 0%,
    /* top left */ 0% 0%,
    /* top right */ 85% 0%,
    /* top right */ 100% 40px,
    /* bottom right */ 100% calc(100% - 40px),
    /* bottom right */ 85% 100%,
    /* bottom left */ 0% 100%,
    /* bottom left */ 0% 100%
  );
}
.dark .content-section {
  background: rgba(25, 25, 25, 0.7);
  border-color: #aaffdd;
}
.light .content-section {
  background: rgba(255, 255, 255, 0.87);
  border-color: #000;
}

.content-section ul {
  list-style: none;
}

.content-section .title {
  margin-bottom: 0;
}

.h-card {
  flex: 0.2;
  margin-right: 2em;
  height: 100%;
  padding: 0.5em;
}
.light .h-card {
  background-color: hsl(163, 30%, 96%);
}
.dark .h-card {
  background: rgba(25, 25, 25, 0.7);
}

.u-photo {
  display: inline-block;
}
.h-card a {
  display: block;
}

.h-card pre {
  text-align: left;
  color: #444;
  margin: 0;
}
.h-card code {
  font-size: 8pt;
}

@media (max-width: 970px) {
  main {
    flex-direction: column;
  }

  header {
    margin-bottom: 0;
  }
  header h1 {
    margin-left: 1em;
  }
  header .right {
    margin-right: 1em;
  }

  .h-card {
    text-align: center;
    width: 100%;
  }
  .h-card pre {
    max-width: 190px;
    margin: 0 auto;
  }

  .main {
    padding: 0 1em;
  }
}
