html,
body {
  font-size: 14pt;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#things {
  width: 100%;
}

#things .thing {
  text-align: center;
  padding: 2em;
  margin: 1em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.dark #things .thing {
  border-bottom-color: #aaffdd;
}
.dark #things .thing:first-child {
  border-top: solid 2px #aaffdd;
}

.light #things .thing {
  border-bottom-color: #000;
}
.light #things .thing:first-child {
  border-top: solid 2px #000;
}

.theme-switcher-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.toggle-theme img {
  width: 2em;
  height: 2em;
  margin-top: 1em;
}
