.card-panel {
  min-height: 240px;
}

nav .icon, nav .icon a {
  max-height: 64px;
}
nav .icon.github img {
  height: 44px;
  vertical-align: middle;
}
nav .icon.stack-overflow img {
  height: 64px;
}

.side-nav {
  width: 105px;
}
.side-nav li {
  text-align: center;
}
.side-nav .icon.stack-overflow img {
  margin-left: -8px;
}
