html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
  border-bottom: solid 1px #fff;
}
.dark header {
  border-bottom-color: #aaffdd;
}
.light header {
  border-bottom-color: #000;
}
header .right {
  display: flex;
  flex: 1;
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

main {
  max-width: 970px;
  margin: 0 auto;
}

main h1 {
  text-align: center;
}

.choices button {
  outline: none;
  cursor: pointer;
}

.dark .choices button {
  border-radius: 5%;
  background: #191919;
  color: #aaffdd;
}

.light .choices button {
  background: hsl(163, 30%, 96%);
  color: #000;
}
