img {
  max-width: 100%;
}

article {
  padding: 0 4em 0 4em;
  font-size: 13pt;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 2em;
}

blockquote {
  margin: 0;
  padding: 0.25em 1em 0.25em 1em;
}

.article-header {
  display: flex;
  border-bottom: solid 2px #fff;
  padding-bottom: 0.5em;
}
.dark .article-header {
  border-color: #aaffdd;
}
.light .article-header {
  border-color: #000;
}

.article-header .left,
.article-header .right {
  flex: 1;
}
.article-header .right {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.e-content {
  padding: 1em;
  line-height: 1.5;
}
.dark .e-content {
  background: #191919;
}
.light .e-content {
  background: #fafbfa;
}

/* Allow for spoiler-style code sections */
.hidden-codeblock > pre {
  display: none;
}
.hidden-codeblock.visible > pre {
  display: inherit;
}

@media (max-width: 970px) {
  header h1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  article {
    padding: 0 2em 0 2em;
  }
}
